@keyframes floating{

0%{

transform:translateY(0px);

}

50%{

transform:translateY(-15px);

}

100%{

transform:translateY(0px);

}

}

.moon{

animation:floating 6s ease-in-out infinite;

}
.star{

position:absolute;

background:white;

border-radius:50%;

opacity:.8;

box-shadow:

0 0 8px white,

0 0 15px #7dd3fc;

animation:twinkle infinite;

}

@keyframes twinkle{

0%{

opacity:.2;
transform:scale(.8);

}

50%{

opacity:1;
transform:scale(1.4);

}

100%{

opacity:.3;
transform:scale(.9);

}

}
.shooting-star{

position:fixed;

width:180px;

height:2px;

background:linear-gradient(
90deg,
white,
transparent
);

z-index:999;

pointer-events:none;

animation:shoot 3s linear forwards;

}

@keyframes shoot{

0%{

transform:
translate(0,0)
rotate(-25deg);

opacity:1;

}

100%{

transform:
translate(-700px,400px)
rotate(-25deg);

opacity:0;

}

}