@keyframes twinkle{
  from{
    opacity:.2;
    transform:scale(.8);
  }

  to{
    opacity:1;
    transform:scale(1.4);
  }
}

@keyframes auroraMove{
  from{
    transform:translateX(-40px) scale(1);
  }

  to{
    transform:translateX(40px) scale(1.1);
  }
}

@keyframes floating{
  0%,100%{
    transform:translateY(0);
  }

  50%{
    transform:translateY(-18px);
  }
}

@keyframes floatCat{
  0%,100%{
    transform:translateY(0);
  }

  50%{
    transform:translateY(-12px);
  }
}

@keyframes tail{
  from{
    transform:rotate(14deg);
  }

  to{
    transform:rotate(-18deg);
  }
}