@media(max-width:800px){

  .moon{
    width:95px;
    height:95px;
    right:25px;
  }

  .timeline-line{
    left:35px;
  }

  .timeline-card,
  .timeline-card.right{
    width:100%;
    margin-left:0;
    padding-left:90px;
    padding-right:0;
    text-align:left;
  }

  .timeline-card.left .timeline-dot,
  .timeline-card.right .timeline-dot{
    left:0;
    right:auto;
  }

  .timeline-content{
    padding:25px;
  }
}